body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.main-container {
  width: 900px;
  margin: 45px auto 0 auto;
  flex: 1;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  font-weight: 600;
  background-color: #3b77c0;
  z-index: 100;
  border-bottom: solid 1px #2c6cbb;
  box-sizing: border-box;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #3b77c0;
}

.navbar__spacer {
  flex: 1;
}

.navbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__navigation-items li {
  padding: 0 0.5rem;
}

.navbar__navigation-items a {
  color: white;
  text-decoration: none;
}

.navbar__navigation-items a:hover,
.navbar__navigation-items a:active {
  color: #aaa;
}

.navbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar__logo a:hover,
.navbar__logo a:active {
  color: #aaa;
}

.add-element {
  color: #555;
}

.logout {
  cursor: pointer;
}

footer {
  border-top: 1px solid #3b77c0;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main-container {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    width: 100%;
  }
}
