.toggle-button {
  display: none;
}

@media only screen and (max-width: 750px) {
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 22px;
    width: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 0 0 0;
    box-sizing: border-box;
    margin: 4px 0 0 0;
  }

  .toggle-button:hover .toggle-button__line {
    background: #f1f1f1;
  }

  .toggle-button:focus {
    outline: none;
  }

  .toggle-button__line {
    width: 28px;
    height: 2px;
    background: white;
  }
}
