.group-side-bar__container {
  width: 20%;
}

.group-side-bar__container-mobile {
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  padding-left: 10px;
  transform: translate(-100%);
  transition: transform 0.3s ease-out;
}

.group-side-bar__container-mobile.open {
  transform: translate(0);
}

.group-side-bar__container-mobile h2 {
  margin-top: 55px;
}

.group-side-bar__container h2 {
  margin-bottom: 0px;
  color: #333;
}
.group-side-bar__container small {
  color: #333;
}

.group-side-bar__title {
  margin-bottom: 8px;
  color: #333;
}

.group-side-bar__container ul {
  padding: 0;
  margin: 10px 0;
}

.group-side-bar__container li {
  display: flex;
  padding: 2px 0;
  color: #333;
}

.spacer {
  flex: 1;
}

.member__options {
  color: #333;
}

.member__options:hover {
  cursor: pointer;
}

.member__tooltip {
  padding: 5px 8px 5px 8px !important;
  color: #333;
}

@media only screen and (max-width: 750px) {
  .group-side-bar__container {
    display: none;
  }
}
