.item__container {
  width: 60%;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}

.items-list__container ul {
  padding: 0px;
}

.item__card {
  display: flex;
  width: 100%;
  padding: 5px 5px 5px 15px;
  border-left: 2px solid #965caf;
  animation-name: effect-fade-in;
  animation-duration: 500ms;
}

.item__card-container {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.item__card-container select {
  border-radius: 5px;
}

.item__card-container option:nth-child(odd) {
  background-color: #f2f2f2;
}

.item__card-title {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 8px 0;
}

.item__card-rating {
  display: flex;
  justify-content: space-between;
  animation-duration: 500ms;
  animation-name: slidein;
}

.item__card-hidden {
  display: none;
}

@keyframes effect-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item__chevron {
  color: #333;
  cursor: pointer;
}

.rotated {
  transform: rotate(-0.25turn);
}

/* @keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
} */

.item__name {
  font-size: 15px;
  cursor: pointer;
}

.item__name:hover {
}

.spacer {
  flex: 1;
}

.item__name-spacing {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item__delete {
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  color: #333;
}

.item__delete:hover {
  color: #555;
}

.item__tooltip {
  padding: 5px 8px 5px 8px !important;
}
