.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__container {
  width: 360px;
  background: #ffffff;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 7.5px 6px 4px #aaa;
}

.register__title {
  text-align: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12.5% 0 12.5%;
}

.register__input {
  margin: 7.5% 0 0 0;
  border-bottom: 2px solid #aaa;
  box-sizing: border-box;
  position: relative;
}

.register__input input {
  font-size: 16px;
  color: #333;
  border: none;
  background: none;
  outline: none;
  height: 50px;
  width: 100%;
}

.register__input span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0%;
  color: #aaa;
  transform: translateY(-50%);
  transition: 0.5s;
  pointer-events: none;
}

.register__input span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3b77c0, #965caf);
  transition: 0.5s;
}

.focus + span::before {
  top: -7.5%;
}

.focus + span::after {
  width: 100%;
}

.password__hidden {
  cursor: pointer;
  color: #aaa;
  position: absolute;
  top: 35%;
  left: 92%;
}

.password__hidden:hover {
  color: #965caf;
}

.register__button {
  display: block;
  height: 50px;
  background: linear-gradient(120deg, #3b77c0, #965caf, #3b77c0);
  background-size: 200%;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: 0.5s;
  margin: 7.5% auto;
  transition: 0.5s;
}

.register__button:hover {
  background-position: right;
}

.register__login {
  text-align: center;
  padding: 20% 12.5% 0 12.5%;
  color: #333;
}

.register__login a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .container {
    margin: auto;
  }

  .register__login {
    padding: 0% 12.5% 0 12.5%;
  }
}
