.lists__container {
  display: flex;
  justify-content: space-evenly;
  min-height: 89.4vh;
}

.main-content__container {
  display: flex;
  padding: 10px;
  background-color: #fff;
  width: 655px;
  border: 1px solid #dddddd;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
}
