body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.main-container {
  width: 900px;
  margin: 45px auto 0 auto;
  flex: 1;
  position: relative;
}

.main-container__landing {
  width: 100%;
  margin: 45px auto 0 auto;
  flex: 1;
  position: relative;
}

.add-element {
  color: #555;
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .main-container {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .main-container {
    width: 100%;
  }
}
